<!DOCTYPE html>
<html>
<head>
  <title>Collectivity</title>
  <%= stylesheet_link_tag    "collectivity/application" %>
  <%= javascript_include_tag "collectivity/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
